{% import _self as design_flow %}


{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
</head>
{% endblock %}

<body cz-shortcut-listen="true">

    <div class="cx-design-wrapper">

        <header id="cx-header-wrapper" class="cx-wrapper-section" data-hide-manage="true" data-zone="header">

            {{ design_flow.render_section('header', design.zones.header, positions, preview_design) }}

        </header>

        <section id="cx-top-wrapper" class="cx-wrapper-section" data-hide-manage="true" data-zone="top">

            {{ design_flow.render_section('top', design.zones.top, positions, preview_design) }}

        </section>

        <section id="cx-content-wrapper" class="cx-content-section">
            <div class="container">
                <div class="row">
                    <div class="col-{{ design.main_size|default('8') }}">

                        {% if not preview_design or attribute(positions, 'content-top')|length > 0 %}
                            <div class="cx-position" data-position-name="content-top" data-hide-manage="true">
                                {{ design_flow.render_position('content-top', attribute(positions, 'content-top')) }}
                            </div>
                        {% endif %}

                        {% if design_id %}
                            {% if not preview_design or main_content != '' %}
                                <div class="cx-static-content text-center"> 

                                    {% if title %}
                                        <h1>{{title}}</h1>
                                    {% endif %}
                                    <div class=" {{sidebar_class}}">
                                        {% block content %}
                                            Sorry, no content
                                        {% endblock %}
                                    </div>
                                
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="text-center m-5">
                                <h2>Sorry, No Theme Selected.</h2>
                                <p>Redirecting...</p>
                            </div>

                            <script>
                                // Similar behavior as clicking on a link
                                setTimeout(function(){
                                    window.location.href = "{{ site.url }}/cx-themeselection";
                                }, 3000);
                            </script>

                        {% endif %}

                       {% if not preview_design or attribute(positions, 'content-bottom')|length > 0 %}
                            <div class="cx-position" data-position-name="content-bottom" data-hide-manage="true">
                                {{ design_flow.render_position('content-bottom', attribute(positions, 'content-bottom')) }}
                            </div>
                        {% endif %}
                        
                    </div>
                    <div class="col-{{ design.side_size|default('4') }}">

                        {% if not preview_design or main_content != '' %}
                            <div class="cx-static-content text-center"> 
                                {% if sidebar %}
                                    <aside class="layout-sidebar">
                                        {{sidebar}}
                                    </aside>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if not preview_design or attribute(positions, 'sidebar-bottom')|length > 0 %}
                            <div class="cx-position" data-position-name="sidebar-bottom" data-hide-manage="true">
                                {{ design_flow.render_position('sidebar-bottom', attribute(positions, 'sidebar-bottom')) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </section>     

        <section id="cx-bottom-wrapper" class="cx-wrapper-section" data-hide-manage="true" data-hide-manage="true" data-zone="bottom">

            {{ design_flow.render_section('bottom', design.zones.bottom, positions, preview_design) }}

        </section>     


        <footer id="cx-footer-wrapper" class="cx-wrapper-section" data-hide-manage="true" data-zone="footer">

            {{ design_flow.render_section('footer', design.zones.footer, positions, preview_design) }}

        </footer>

    </div>



{% macro render_section(zone_name, sections, positions, preview_design) %}

    {% import _self as design_flow %}

    {% if sections|length > 0 %}

        {% for section_key,section in sections %}

            <section id="{{ section_key }}" class="cx-section {{ section.class }}">
                {% if section.has_container %}
                    {{ '<div class="container">' }}
                    {{ '<div class="row">' }}
                {% endif %}
                {% set grid_arr = section.grid|split('x') %}

                {% for key,position_name in section.positions %}

                    {% set position_size = attribute(grid_arr, key) %}

                    {% if not preview_design or attribute(positions, position_name)|length > 0  %}
                        <div class="cx-position {{ position_name }} {% if position_size >= 1 %}col-{{ position_size|default('12') }}{% endif %}" data-position-name="{{ position_name }}" data-hide-manage="true">
                            {{ design_flow.render_position(position_name, attribute(positions, position_name)) }}
                        </div>
                    {% endif %}

                {% endfor %}

                {% if section.has_container %}
                    {{ '</div>' }}
                    {{ '</div>' }}
                {% endif %}

            </section>

        {% endfor %}

    {% endif %}


{% endmacro %}

{% macro render_position(position_name, position_htmls) %}

    {% import _self as design_flow %}

    {% if position_htmls|length > 0 %}
        {% for position_html in position_htmls %}
            {{ position_html.html }}
        {% endfor %}
    {% endif %}

{% endmacro %}

{% block footer %}
    <footer id="footer">

        {% include 'css-javascript-generator.twig' %}
        {% include 'css-style-generator.twig' %}
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}

</body>
</html>